*{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
html{
  font-size: 62.5%;
}
.App{
  margin: 4.707rem 0 2.4rem 5.65rem;
display: flex;
gap: 15.8rem;
}
.headline{
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #090f31;
}
.headline span{
  color: #f7542e;
  
}
ul{
  margin-top: 12.2rem;
}
ul li{
  font-weight: 500;
  color: #9e9e9e;
  font-size: 1.4rem;
  list-style: none;
  margin-bottom: 2.5rem;
}
ul li:hover, ul li:active{
  font-weight: 700;
  color: black;
  cursor: pointer;

}
.buttons_container h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  /* color: #4f4f4f; */
  color: #000000a3;
  text-align: center;
  margin: 5.3rem 0 2rem 0;
}
label{
  font-size: 1.4rem;
  margin-right: 1rem;
}
select{
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  background-color: #090f310f;
  border-radius: 0.5rem;
  border: none;
}
.button_area{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.styles_container{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.styles{
  display: flex;
  gap: 1rem;
}
.app_container{
  display: flex;
  flex-direction: column;
}
.footer h3{
  position: relative;
  display: inline;
  top:20rem;
  left: 42.4vw;
  color: #a9a9a9;
  font-weight: 500;
}
.footer h3 span{
  font-weight: 700;

}